{% extends "layout.html" %}

{% block body %}
<div>
        {% if 'username' in session: %}
        <p>Logged in as {{ session['username'] }} 
        <h2>Enter an Author, Title or ISBN</h2>
            <form method="POST">
                <p><input id="username" type=text name=username placeholder="username">
                <p><input id="username" type=submit value=username>
            </form>
        </p>
        {% else %}
        <p>Click <a href="/login">Here</a> to login.</p>
        {% endif %}
        <!-- <form method="post">
                <p><input id="username" type=text name=username placeholder="username">
                 <p><input type="password" name=password placeholder="password"> 
                <p><input type=submit value=Login>
            </form> -->
</div>
{% endblock %}